:root {
  font: 16px / 1 sans-serif;
  font-family: roboto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(19, 17, 17);
}

* li {
  list-style: none;
}

.top-section {
  min-height: 600px;
  background-image: url(images/space.png);
  margin-left: 10%;
  margin-right: 10%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#first-flex > div {
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 100px;
  margin-top: 10%;
  margin-left: 2%;
  border-radius: 2%;
}

#first-flex > img {
  margin-bottom: 6%;
}

#first-flex {
  display: flex;
}

.four-images {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 8%;
  padding-right: 8%;
}

.four-images > img {
  padding-top: 2%;
  padding-bottom: 2%;
}

#my-photo {
  width: 200px;
  height: 200px;
  margin-top: 15%;
  margin-left: 15%;
  border-radius: 3%;
}

#tri-photo {
  padding-top: 3.36%;
  padding-left: 5%;
  opacity: 0.8;
}

.middle-section {
  margin-left: 10%;
  margin-right: 10%;
}

#first-paragraph {
  background-color: white;
  margin-bottom: 5%;
  border-radius: 3%;
}

#second-paragraph {
  background-color: white;
  border-radius: 3%;
}

#first-paragraph > header {
  background-image: url(images/react.png);
  min-height: 90px;
  margin-top: 2.5%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

#first-paragraph > footer {
  align-self: right;
  background-color: rgb(54, 166, 235);
  color: white;
  text-align: right;
  padding-right: 5%;
  margin-left: 85%;
  margin-right: 1%;
}

#second-paragraph > header {
  background-image: url(images/code.png);
  min-height: 90px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

#second-paragraph > footer {
  align-self: right;
  background-color: rgb(54, 166, 235);
  color: white;
  text-align: right;
  padding-right: 5%;
  margin-left: 85%;
  margin-right: 1%;
  margin-top: 5%;
}

#first-pseudo::after {
  content: 'December 6th, 2018';
  color: grey;
  font-size: 12px;
  padding-left: 1%;
}

#second-pseudo::after {
  content: 'November 15th, 2018';
  color: grey;
  font-size: 12px;
  padding-left: 1%;
}
.bottom-section {
  color: white;
  text-align: center;
  margin-top: 5%;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 1%;
}

h2 {
  color: white;
  text-align: center;
  padding-top: 2%;
}

#twitter-images {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 35%;
  margin-right: 38%;
}

#twitter-images > li > img {
  height: 40px;
  width: 40px;
}

#react-photo {
}

#code-photo {
}
